[submodule "tech"]
	path = tech
	url = https://github.com/leaves-27/tech.git
[submodule "life"]
	path = life
	url = https://github.com/leaves-27/life.git
[submodule "project"]
	path = project
	url = https://github.com/leaves-27/project.git
